table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 900px;
    margin:auto;
}
th,td {
    border: 1px solid black;
}
tr:nth-child(odd) {
    background-color: lightgray;
}
th{
    color: blue;
    background-color: #b4daef;
}
button{
    background-color: #bcc3c3;
    color: red;
    margin: 5px;
}
h2{
    text-align: center;
    color: blue;
}
body {
    margin: 0;
    background: #a4aab1;
    overflow: hidden;
    height: 100vh;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 1em;
    user-select: none;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}